:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);

    background-image: url("./assets/green.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}