*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: rgba(54, 54, 54, 0.87);

    background-image: url("assets/city.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

body {
    margin: 0;
  }